<div class="">
	<div class="p-5 bg-primary text-white text-center">
		<h1 class="">Calendoration</h1>
		<p>Seja bem vindo!</p>
	</div>

	<div class="container">
		<h6 class="text-center text-justify mt-5 pb-2">O Calendoration é uma aplicação de monitoramento de anotações por amigos.
		Você pode monitorar o que os seus amigos estão monitorando para você.</h6>
		<p class="blockquote blockquote-footer text-center">Equipe Calendoration</p>
	</div>
	
</div>

