
<div class="container">
  <h1>Editando anotação</h1>

  <%= render "form", annotation: @annotation %>
  <br>

  <div>
    <%= link_to "Mostrar essa anotação", @annotation, class: "btn btn-success" %>
    <%= link_to "Voltar para anotações", annotations_path, class:"btn btn-secondary" %>
  </div>
</div>
